:root {
  --clr-bg: linear-gradient(135deg,
      rgb(74, 225, 255),
      rgb(250, 41, 187),
      rgb(74, 225, 255),
      rgb(250, 41, 187));
  --clr-text: #f8f8ff;
  --clr-violet: #ee82ee;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background: var(--clr-bg);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: calc(6vh + 6vw / 2);
  color: var(--clr-violet);
}

.content {
  margin-bottom: 50px;
}

.subtitle {
  font-size: calc(3vh + 3vw / 2);
  margin-bottom: 30px;
  color: var(--clr-text);
}

.copy {
  background: var(--clr-text);
  color: var(--clr-violet);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 30vw;
}

.copy__container {
  display: inline-flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.copy__text {
  outline: none;
  border: none;
  padding: 10px 20px;
  color: var(--clr-violet);
  width: 100%;
}

.copy__btn {
  border: none;
  background: none;
  color: var(--clr-text);
  background: var(--clr-violet);
  padding: 5px 10px;
  position: relative;
}

.copy__btn::before {
  content: 'Copied';
  position: absolute;
  top: -50px;
  right: 0;
  background: cornflowerblue;
  color: var(--clr-text);
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 15px;
  display: none;
}

.copy__btn::after {
  content: '';
  position: absolute;
  top: -28px;
  right: 25px;
  width: 10px;
  height: 10px;
  background: cornflowerblue;
  transform: rotate(45deg);
  display: none;
}

.copy__btn:active {
  background: #000;
}

.copy__container.active .copy__btn::before,
.copy__container.active .copy__btn::after {
  display: block;
}

.inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  gap: 30px;
  display: none;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  background: #ffffff1a;
}