:root {
  --clr-bg: linear-gradient(135deg,
      rgb(74, 225, 255),
      rgb(250, 41, 187),
      rgb(74, 225, 255),
      rgb(250, 41, 187));
  --clr-text: #f8f8ff;
  --clr-violet: #ee82ee;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
}

body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background: var(--clr-bg);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.title {
  font-size: calc(6vh + 6vw / 2);
  color: var(--clr-violet);
}

.content {
  margin-bottom: 50px;
}

.subtitle {
  font-size: calc(3vh + 3vw / 2);
  margin-bottom: 30px;
  color: var(--clr-text);
}

.notes {
  background: var(--clr-text);
  color: var(--clr-violet);
  padding: 10px;
  border-radius: 15px;
  margin-bottom: 20px;
  display: inline-block;
}

.inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  background: #ffffff1a;
}