*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.5;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

}

.title {
  text-align: center;
  font-size: calc(6vh + 6vw / 2);
}

.content {
  margin-bottom: 30px;
}

.subtitle {
  text-align: center;
  font-size: calc(4vh + 4vw / 2);
}

.inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: inline-block;
}